* {
    font-family: 'Lora', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

header img {
    display: block;
    margin: 0 auto 1%;
    max-width: 100%;
    width: 100rem;
    height: 100vh;
}

nav {
    width: 100%;
    background: darkolivegreen;
    overflow: hidden;
    position: fixed;
    top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
}

nav a {
    padding: 20px;
    width: 100%;
    display: block;
    text-decoration: none;
    color: aquamarine;
    text-transform: uppercase;
    font-weight: bold;
}

#home-section {
    height: 100vh;
    background: darkgray;
}

.together {
    display: flex;
}

#reservation-section {
    height: 100vh;
    background: rgb(204, 122, 50);
    width: 50%;
}

#about-section {
    height: 100vh;
    background: rgb(50, 204, 196);
    width: 50%;
}

#menu-section {
    background-image: url(assets/background/background_1.jpg);
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about-menu {
    align-self: flex-start;
    height: 100vh;
    width: 100%;
}

#about-menu h1 {
    text-align: center;
    margin-top: 5rem;
    color: aliceblue;
}
#about-menu p {
    align-self:flex-start;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: aliceblue;

}
#main-food {
    align-self: flex-start;
    height: 100vh;
    width: 100%;
}
#main-food:hover{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

#main-food h1 {
    text-align: center;
    margin-top: 2.5rem;
    color: aliceblue;
}



#appetizer {
    align-self: center;
    height: 100vh;
    width: 100%;
   
}
#appetizer:hover {
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
#appetizer h1 {
    text-align: center;
    margin-top: 2.5rem;
    color: aliceblue;
}

#dessert {
    align-self: flex-end;
    height: 100vh;
    width: 100%;
}
#dessert:hover {
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}
#dessert h1 {
        text-align: center;
        margin-top: 2.5rem;
        color: aliceblue;
    }
    


