body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('imgs/background_05.jpeg');
  background-size: cover;
  background-position: center;
}

#menuSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
  padding: 20px; /* Add some padding for better readability */
}

.menu-item {
  text-align: center;
  margin-bottom: 20px;
}

.menu-item h2 {
  font-size: 18px; /* Adjust font size as needed */
  margin-bottom: 5px; /* Add some space between elements */
}

.menu-item h2.price {
  font-size: 14px; /* Smallest font size for price */
}

/* Add a subtle shadow to the white text to make it stand out */
.menu-item h2 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Update the background color and padding for the menu sections */
.Appetizers,
.Mains,
.Desserts {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-top: 20px; /* Add some space between sections */
}
